.button {
	padding: 8px 16px;

	display: flex;
	align-items: center;
	justify-content: center;

	text-align: start;
	color: #2B1694;
	font-size: 14px;
	line-height: 20px;

	background-color: #ffffff;
	border: 1px solid #2B1694;
	border-radius: 8px;

	outline: none;

	&:disabled {
		color: #B3BEC3;
		background-color: #E8EBED;
		border-color: #E8EBED;
		opacity: 1;
	}

	&_text {
		border: none;
		padding: 0;
	}

	&_outlined {

	}

	&_contained {
		color: #ffffff;
		background-color: #2B1694;
	}
}