.wrapper {
	display: flex;
	justify-content: space-between;
	// position: fixed;
}

.auth {
	display: flex;
	flex-direction: row;
	color: #cbd5e1;
	/* Body/b1 Semibold */
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 150% */
}

.auth_buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	li {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 16px;
		cursor: pointer;
	}

	.split_hed {
		padding: 0px;
		background-color: #465569;
		height: 50%;
		width: 1px;
	}

	.signup {
		color: #fff;
		background-color: #4259ed;
		border-radius: 8px;
	}
}

.split {
	width: 1px;
	height: 20px;
	background: #475569;
}

//login header
.menu {
	display: flex;
	align-items: center;
	.buttons {
		margin-left: 48px;
		display: flex;
		gap: 8px;
	}
}

.menu_btn {
	display: flex;
	align-items: center;
	padding: 3px 6px;
	border-radius: 4px;

	color: #cbd5e1;
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-weight: 900;
	line-height: 24px;

	&_active {
		color: #fff;
		background-color: #272e3f;
	}
}

.nav {
	&_ul {
		display: flex;
		gap: 12px;
		align-items: center;
	}
}

.item {
	&_avatar {
		cursor: pointer;
		border-radius: 50px;
		border: 1.5px solid var(--new-grey-0, #fff);
	}
	&_img {
		cursor: pointer;
		padding: 10px;
	}
}
