.wrapper {
	display: flex;
	gap: 10px;
	width: 100%;
	justify-content: space-between;
	margin-top: 24px;
	margin-bottom: 34px;

	.btn {
		display: flex;
		gap: 6px;
		background-color: transparent;
		align-items: center;
		padding: 10px 16px;
		border-radius: 8px;
		border: 1px solid #cbd5e1;

		color: #334155;
		font-variant-numeric: lining-nums proportional-nums;

		&_disable {
			pointer-events: none;
		}
	}

	.pagination {
		display: flex;
		align-items: center;
		gap: 2px;

		.step {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			border-radius: 8px;
			min-width: 40px;
			min-height: 40px;

			color: #64748b;
			text-align: center;
			font-variant-numeric: lining-nums proportional-nums;

			&_current {
				background: #f1f5f9;
				color: #0f172a;
			}
		}
	}
}
