.wrapper {
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  > table, th, td {
    border-collapse: collapse;
  }

  > table > tbody > tr > td,
  > table > thead > tr > th {
    border: 1px solid #E7E9EF;
    padding: 8px 16px;
    text-align: left;
  }

  table {
    width: 100%;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #334155;
    border-radius: 8px;
  }


  thead > tr > th {
    background-color: #F8FAFC;

    color: #0F172A;
    font-weight: bold;
  }

  tbody > tr > td {
    max-width: 0;
  }
}

.images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.controllers {
  position: fixed;
  left: 0;
  bottom: 0;

  padding: 0 24px;
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;

  background-color: #FFFFFF;
  box-shadow: 10px 0 25px 0 rgba(53, 53, 53, 0.12);

  > button {
    font-size: 16px;
    line-height: 20px;
  }

  .btn_cancel {
    color: #0F172A;
    padding: 8px 12px;
  }

  .btn_publish {
    background-color: #DE7A05;
    border: 1px solid #DE7A05;
  }
}
