.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button {
	display: flex;
	padding: 8px 16px 8px 8px;
	justify-content: center;
	align-items: center;
	gap: 6px;
	height: 30px;

	border-radius: 8px;
	background: #2b1694;

	&:hover {
		opacity: 0.9;
		cursor: pointer;
	}

	&:focus {
		opacity: 0.9;
		outline: 4px solid #e8ebfd;
	}

	&:disabled {
		opacity: 0.75;

		cursor: not-allowed;
	}

	&_text {
		color: var(--new-colors-white, #fff);
		font-variant-numeric: lining-nums proportional-nums;

		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px; /* 142.857% */
	}

	&_image {
	}
}

.avatar {
	width: 32px;
	height: 32px;

	border-radius: 200px;
	border: 1px solid #fdfdfd;
	background: lightgray 50% / cover no-repeat;

	&_wrapper {
		display: flex;
		align-items: center;
		gap: 0;
		flex: 1 0 0;

		& > *:not(:first-child) {
			margin-left: -4px;
		}
	}

	&_empty {
		display: flex;
		width: 32px;
		height: 32px;
		justify-content: center;
		align-items: center;
		gap: 10px;

		border-radius: 200px;
		border: 1px solid #fdfdfd;
		background: #94a3b8;

		&_text {
			flex: 1 0 0;

			color: #f8fafc;
			user-select: none;
			text-align: center;

			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 24px; /* 150% */
		}
	}
}
