.wrapper {
	margin-top: 24px;
	display: flex;
	gap: 12px;
	align-items: center;
}

.search {
	&_label {
		max-width: 270px;
		display: flex;
		width: 269px;
		padding: 10px 12px;
		align-items: center;
		gap: 8px;

		border-radius: 8px;
		border: 1px solid #cbd5e1;
		background: #fff;
	}

	&_input {
		border: none;
		outline: none;
		background-color: transparent;
		
		color: black;

		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
	}

	&_input::placeholder {
		color: #cbd5e1;

		font-family: Lato;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
	}
}

.products_filter {
	display: flex;
	gap: 12px;
	align-items: center;
	width: 100%;
}
