.wrapper {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;

  border-bottom: 1px solid #CBD5E1;
}

.link {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
  gap: 8px;
  padding: 0 16px;

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 25%;
    right: 0;
    display: block;
    width: 1px;
    height: 12px;
    background-color: #CBD5E1;
  }

  &_active {
    font-weight: bolder;
    border-bottom: 3px solid #2B1694;
  }

  &_text {
    height: 100%;
    text-decoration: none;
    color: #0F172A;

    &_blocked {
      color: #64748B;
      user-select: none;
    }
  }
}