.wrapper {
	width: 100%;
}

.table {
	border-collapse: collapse;
	width: 100%;

	.thead {
		width: 100%;
	}
}

.table th,
.table td {
	border: 1px solid #cbd5e1;
	padding: 12px;
	text-align: left;

	color: #020617;

	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
}

.td {
	&_wrapper_status {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	&_product {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;

		.updates {
			cursor: pointer;
			margin-left: auto !important;
			color: #2b1694;

			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: 18px;
		}
	}

	&_status {
		border-radius: 4px;
		padding: 3px 8px;
		text-align: center;
		max-width: min-content;

		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 18px;

		&_pending {
			background: #f52419;
			color: #fff;
		}

		&_transit {
			background: #fff5e8;
			color: #de7a05;
		}

		&_production {
			background: #f0f2fe;
			color: #2b1694;
		}

		&_issued {
			border: 1px solid #cbd5e1;
			color: #64748b;
		}

		&_delivered {
			background: #ebf8f6;
			color: #0ba98a;
		}
	}
	&_order {
		display: flex;
		align-items: center;

		.dot {
			display: inline-block;
			width: 6px;
			height: 6px;
			border-radius: 2px;
			margin-right: 6px;
			&_blue {
				background-color: #4259ed;
			}
			&_grey {
				background-color: #94a3b8;
			}
		}
	}
}
