.wrapper {
	display: flex;
	flex-direction: column;
	margin: 25px 0 40px 0;
	gap: 25px;
	max-width: 100%;

	.set {
		display: flex;
		gap: 2px;
	}

	.products {
		max-width: 700px;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		margin-right: 10px;

		&_compress {
			overflow-x: auto;
			max-width: 230px;
		}

		&_compress::-webkit-scrollbar {
			height: 4px;
			background-color: transparent;
			border-radius: 1px;
		}

		&_compress::-webkit-scrollbar-thumb {
			background: #94a3b8;
			border-radius: 3px;
		}

		&_header {
			max-width: 700px;
			opacity: 0.8;
			display: flex;
			gap: 16px;
			align-items: center;
			border-radius: 4px 4px 0 0;

			&_active {
				opacity: 1;
			}

			&_compress {
				max-width: 230px;
				padding-right: 8px;
				background-color: #2b1694;
				position: sticky;
				top: 0;
				left: 0;
			}

			.arrow {
				&_toggle {
					transition: transform 0.3s ease;
					transform: rotate(-90deg);
					cursor: pointer;

					&_active {
						transform: rotate(0deg);
					}
				}
			}

			&_toggle {
				padding: 4px 8px;
				display: flex;
				gap: 8px;
				align-items: center;
				border-radius: 4px 4px 0 0;
				background-color: #2b1694;

				color: #fff;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 20px;

				.indificator {
					margin-right: 8px;
					font-weight: 400;
				}
			}

			&_resize {
				display: block;
				margin-left: auto;
				cursor: pointer;
			}

			&_count {
				color: #64748b;

				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px;
			}
		}
	}

	.table_wrapper {
		border-left: 1px solid #2b1694;
	}
}

.quotations {
	flex-grow: 1;
	max-width: calc(100% - 700px); // -products

	&_compress {
		max-width: calc(100% - 230px); // -products_compress
	}

	&_header {
		display: flex;
		padding: 4px 8px;
		border-radius: 4px 4px 0 0;
		background: #2b1694;

		color: #fff;
		font-size: 14px;
		font-style: normal;
		font-weight: 900;
		line-height: 20px;

		&_compress {
			height: 48px;
		}
	}
}

.none {
	pointer-events: none;
	width: 0;
	height: 0;
	opacity: 0;
}

.active {
	// transition: all 0.3s ease;
	pointer-events: all;
	width: auto;
	height: auto;
	opacity: 1;
}
