.wrapper {
	padding: 32px;
}

.title {
	color: #020617;
	font-variant-numeric: lining-nums proportional-nums;

	font-family: Lato;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px;
}
