.wrapper {
	width: 100%;
	padding: 0px 12px;

	.table {
		margin-top: -10px;
		border-collapse: separate;
		border-spacing: 10px;
		width: 100%;

		.thead {
			th {
				color: #64748b;
				font-variant-numeric: lining-nums proportional-nums;

				text-align: left;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;
			}
		}

		.tbody {
			.label {
				border-radius: 4px;
				border: 1px solid #cbd5e1;
				padding: 8.3px 12px;
				display: flex;
				align-items: center;
				gap: 8px;

				width: 165px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				&_wrapper {
					width: 165px;
					overflow: hidden;
					border-radius: 4px;
					border: 1px #cbd5e1;
					background: #fff;
				}

				&_input {
					width: 110px;
					outline: none;
					border: none;
					background-color: transparent;
				}

				&_input::placeholder {
					color: #cbd5e1;
					font-variant-numeric: lining-nums proportional-nums;

					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px;
				}

				&_search {
					cursor: pointer;
				}
			}

			.choose {
				&_wrapper {
					position: relative;
					cursor: pointer;
					width: 100%;
					padding: 8.3px 12px;
					width: 165px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 8px;
					border-radius: 4px;
					border: 1px solid #cbd5e1;
					background: #fff;
				}

				&_img {
					transition: all 0.4s ease;
					cursor: pointer;
				}

				&_active {
					transform: rotate(180deg);
				}

				&_items {
					transition: all 0.4s ease;
					position: absolute;
					overflow-y: scroll;
					max-height: 200px;
					border-radius: 4px;
					border: 1px solid #cbd5e1;
					background: #fff;
					box-shadow: 0px 10px 25px 0px rgba(53, 53, 53, 0.12);
					width: max-content;
					top: 44px;
					left: -1px;
					opacity: 0;
					height: 0px;

					&_active {
						opacity: 1;
						height: auto;
					}
				}

				&_items::-webkit-scrollbar {
					width: 4px;
					background-color: transparent;
					border-radius: 5px;
				}

				&_items::-webkit-scrollbar-thumb {
					background: #94a3b8;
					border-radius: 3px;
				}

				&_item {
					display: flex;
					padding: 8px 12px;

					&_name {
						margin-right: 8px;
						overflow: hidden;
						color: #0f172a;
						font-variant-numeric: lining-nums proportional-nums;

						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 20px;
					}

					&_production {
						margin-right: 4px;
						color: #94a3b8;
						font-variant-numeric: lining-nums proportional-nums;

						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 20px;
					}

					&_price {
						color: #94a3b8;
						font-variant-numeric: lining-nums proportional-nums;

						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 20px;
					}
				}
			}

			.size {
				display: flex;
				gap: 4px;
				max-width: 78px;

				&_input {
					padding: 10px 12px;
					border-radius: 4px;
					border: 1px solid #cbd5e1;
					background: #fff;
					max-width: 50px;
					outline: none;
				}

				&_input::placeholder {
					color: #cbd5e1;
					font-variant-numeric: lining-nums proportional-nums;

					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px;
				}
			}

			.quantity {
				display: flex;
				background: #fff;
				width: 143px;

				&_wrapper {
					width: 90px;
					border-radius: 4px;
					border: 1px solid #cbd5e1;
				}

				&_input {
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
					border-bottom-left-radius: 10px;
					max-width: 65px;
					padding: 12px;
					border: none;
					outline: none;
					border-right: 1px solid #cbd5e1;
				}

				&_choose {
					padding: 8px 12px;
					display: flex;
					gap: 4px;
					align-items: center;
				}
			}
		}
	}
}
