.status_label {
  padding: 2px 8px;

  border-radius: 4px;

  text-align: center;

  background-color: #EDF1F6;
  color: #64748B;

  &_published {
    background-color: #2B1694;
    color: #ffffff;;
  }
}