.wrapper {
	position: relative;
}

.sidebar {
	transition: all 0.3s ease;
	position: absolute;
	position: fixed;
	top: 0px;
	right: -32px; //-hadding
	height: 0px;
	width: 0px;
	opacity: 0;
	background: #fff;

	&_active {
		width: 500px;
		opacity: 1;
		z-index: 100;
	}

	&_title {
		font-size: 20px;
	}

	&_wrapper {
		box-shadow: 0px 10px 20px 0px rgba(28, 27, 27, 0.08);
		height: 100vh;
		background-color: #fff;
		position: relative;
		padding: 14px 32px 0px;
		display: flex;
		flex-direction: column;
		gap: 14px;

		.close_img {
			z-index: 100;
			cursor: pointer;
			height: 36px;
			width: 36px;
			border-radius: 50%;
			border: 1px solid #cbd5e1;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			background-color: #fff;
			left: -17px;
		}
	}

	&_nav {
		display: flex;
		border-bottom: 1px solid #cbd5e1;

		&_item {
			text-align: center;
			min-width: 100px;
			transition: color 0.3s ease;
			cursor: pointer;
			position: relative;
			padding: 7px 18px;

			color: #0f172a;

			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;

			&_active {
				font-weight: 900;
				border-bottom: 3px solid #12006c;
			}

			&:not(:last-child)::after {
				content: '';
				position: absolute;
				top: 60%;
				right: 0;
				transform: translateY(-50%);
				height: 50%;
				width: 1px;
				background-color: #cbd5e1;
			}
		}
	}

	.update {
		bottom: 0;
		margin-top: auto;
		padding: 16px;
		display: flex;
		justify-content: flex-end;

		&_btn {
			padding: 10px 20px;
			border-radius: 8px;
			background: #2b1694;

			color: #fff;
			font-variant-numeric: lining-nums proportional-nums;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px;
		}
	}

	.spinner {
		margin-top: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
