.wrapper {
	position: relative;
}

.sidebar {
	transition: all 0.3s ease;
	position: absolute;
	top: -32px; // -padding
	right: -32px; //-hadding
	height: 0px;
	width: 0px;
	opacity: 0;
	background: #fff;
	box-shadow: -5px 0px 50px 0px rgba(35, 37, 43, 0.15);

	&_active {
		width: 500px;
		height: calc(100vh - 60px); //-header ;
		opacity: 1;
		z-index: 100;
	}

	&_title {
		font-size: 20px;
	}

	&_wrapper {
		padding: 14px 32px 0px;
		display: flex;
		flex-direction: column;
		gap: 14px;
	}

	&_nav {
		display: flex;
		border-bottom: 1px solid #cbd5e1;

		&_item {
			min-width: 100px;
			transition: color 0.3s ease;
			cursor: pointer;
			position: relative;
			padding: 7px 18px;

			color: #0f172a;

			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;

			&_active {
				font-weight: 900;
				border-bottom: 3px solid #12006c;
			}

			&:not(:last-child)::after {
				content: '';
				position: absolute;
				top: 60%;
				right: 0;
				transform: translateY(-50%);
				height: 50%;
				width: 1px;
				background-color: #cbd5e1;
			}
		}
	}
}

.table {
	width: 100%;
	border-collapse: collapse;
	&_header {
		border: 1px solid #ccd5e1;
		border-bottom: none;
		padding: 12px 20px;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
		background-color: #f8fafc;
	}

	tr {
		color: #0f172a;
		font-variant-numeric: lining-nums proportional-nums;

		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
		td {
			border: 1px solid #ccd5e1;
			width: 50%;
			padding: 12px 20px;
		}

		.units {
			color: #64748b;
			font-variant-numeric: lining-nums proportional-nums;

			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;
		}
	}
}
