.wrapper {
	padding-top: 16px;
	padding-left: 36px;
	padding-right: 36px;
	padding-bottom: 48px;
	border-radius: 12px;
	background: #fff;
	min-width: 480px;
}
.modal_header {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 32px;
	.logo {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.close {
		cursor: pointer;
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.title {
		color: #0f172a;
		text-align: center;

		font-family: Lato;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px;
	}

	.subtitle {
		color: #64748b;
		text-align: center;
		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;

		max-width: 408px;
		margin-top: 8px;
	}
}

.form {
	margin-top: 24px;

	.email {
		position: relative;
		&_text {
			color: #0f172a;
			font-family: Lato;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: 20px;
			margin-bottom: 8px;
		}

		&_input {
			color: #0f172a;
			font-family: Lato;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
			border: none;
			background-color: transparent;
			box-shadow: none;
			position: absolute;
			outline: none;
			right: 0;
			left: 38px;
			top: 0;
			bottom: 0;
			overflow: hidden;
			width: 80%;
		}

		.label_invalid {
			border: solid 1px #f52419;
		}
		.icon_invalid {
			transition: opacity 0.3s ease;
			opacity: 0;

			&_active {
				opacity: 1;
			}
		}

		&_label {
			transition: border 0.3s ease;
			display: flex;
			justify-content: space-between;
			position: relative;
			z-index: 2;
			border-radius: 8px;
			min-width: 99%;
			min-height: 42px;
			border: 1px solid #cbd5e1;
			padding: 10px 12px;
			align-items: center;
			gap: 8px;
			align-self: stretch;

			&:focus-within {
				border-color: #4259ed;
			}

			&_image {
				cursor: pointer;
			}
		}
	}

	.invalid {
		margin-top: 8px;
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 4px;
		color: #f52419;

		font-family: Lato;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		height: 0px;
		opacity: 0;
		transition: height 0.3s ease, opacity 0.3s ease;

		&_active {
			height: 10px;
			opacity: 1;
			// transition-delay: 0.2s;
		}
	}

	.submit {
		transition: all 0.4s;
		color: #94a3b8;
		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;

		margin-top: 24px;
		display: flex;
		padding: 10px 20px;
		justify-content: center;
		align-items: center;
		width: 100%;
		border: none;
		border-radius: 8px;
		background: #e2e8f0;
		cursor: pointer;
	}

	.submit_active {
		color: #fff;
		background-color: #4259ed;
	}

	.back {
		display: flex;
		justify-content: center;
		margin-top: 16px;

		&_link {
			cursor: pointer;
			color: #4259ed;

			font-family: Lato;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
			text-align: center;
		}
	}
}
