.wrapper {
	display: flex;
	gap: 12px;

	.request {
		transition:
			background-color 0.3s ease,
			color 0.4s ease;
		cursor: pointer;
		min-width: 138px;
		padding: 8px 12px;
		outline: none;
		border: none;
		background-color: transparent;
		border-radius: 8px;
		border: 1px solid #2b1694;

		color: #2b1694;

		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;

		&_active {
			background-color: #2b1694;
			color: #fff;
		}

		&_wrapper {
			position: relative;
		}

		&_options {
			box-shadow: 0px 10px 25px 0px rgba(53, 53, 53, 0.12);
			transition: opacity 0.3s ease;
			position: absolute;
			z-index: 2;
			overflow: hidden;
			top: 40px;
			background-color: #fff;
			border: 1px solid #ebebeb;
			border-radius: 8px;
			opacity: 0;
			pointer-events: none;

			&_active {
				pointer-events: all;
				opacity: 1;
			}
		}

		&_item {
			transition: background-color 0.4s ease;
			padding: 8px 12px;
			width: 100%;
			text-align: center;
			cursor: pointer;
			outline: none;
			border: none;
			background-color: transparent;

			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: 20px;
		}

		&_item:hover {
			color: #2b1694;
			background-color: #f0f2fe;
		}
	}

	@media (max-width: 890px) {
		flex-wrap: wrap;
	}

	.label {
		cursor: pointer;
		border-radius: 8px;
		border: 1px solid #e2e8f0;
		padding: 8px 12px;
		width: 100%;
		display: flex;
		align-items: center;
		column-gap: 8px;

		&_search {
			height: 20px;
			width: 100%;
			border: none;
			background: transparent;

			color: #0f172a;

			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
		}

		&_search::placeholder {
			color: #94a3b8;

			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
		}
		&_search:focus {
			border: none;
			outline: none;
		}
	}
}

.filter {
	position: relative;
	cursor: pointer;
	min-height: 20px;
	padding: 8px 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 8px;
	border-radius: 8px;
	border: 1px solid;
	border: 1px solid #e2e8f0;

	&_content {
		position: absolute;
		width: 100%;
		top: 35px;
		left: 0;
		max-height: 180px;
		overflow-y: auto;
		background-color: #fff;
		border: 1px solid #e7e9ef;
		border-radius: 8px;
		transition: opacity 0.3s ease;
		pointer-events: none;
		opacity: 0;
		z-index: 2;

		&_active {
			pointer-events: all;
			opacity: 1;
		}
		.item_wrapper:hover {
			background-color: #f8fafc;
		}

		.item {
			transition: background-color 0.3s ease;
			padding: 10px 12px;

			color: #143644;

			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;

			&_active {
				background-color: #f0f2fe;
			}
		}
	}

	&_content::-webkit-scrollbar {
		width: 3px;
		height: 3px;
		background-color: transparent;
		border-radius: 5px;
	}

	&_content::-webkit-scrollbar-thumb {
		background: #94a3b8;
		border-radius: 3px;
	}

	@media (max-width: 770px) {
		flex-grow: 1;
	}

	.filter_icon {
		transition: transform 0.4s ease;
		transform: rotate(180deg);

		&_active {
			transform: rotate(0deg);
		}
	}

	&_title {
		min-width: 100px;
		color: #0f172a;

		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
	}
}
