.info {
	display: flex;
	gap: 20px;

	&_code {
		color: #0d0d0e;

		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
	}

	&_status {
		border-radius: 4px;
		padding: 2px 8px;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: 18px;

		&_pending {
			color: #fff;
			background-color: red;
		}
	}
}
