.data {
	&_wrapper {
		opacity: 0;

		max-width: 0px;
		max-height: 0px;
		pointer-events: none;

		color: #64748b;

		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
	}

	&_active {
		opacity: 1;
		pointer-events: all;
	}
}

.wrapper {
	width: 100%;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 4px 6px 12px 0px rgba(184, 191, 198, 0.16);
	border: 1px solid #e7e9ef;

	transition: all 0.3s ease;
	opacity: 0;
	pointer-events: none;
	height: 0;

	&_active {
		margin-top: 16px;
		padding: 20px 24px;
		opacity: 1;
		pointer-events: all;
		height: auto;
	}

	.status {
		text-align: end;
		color: #f52419;

		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
	}
}
