.wrapper {
	transition: width 0.5s ease;
	background: #fff;
	padding: 24px 10px;
	padding-top: 10px;
	height: calc(100vh - 60px);
	position: fixed;
	width: 0px;
	height: 100%;
	box-shadow: 0px 10px 25px 0px rgba(53, 53, 53, 0.12);

	&_scroll {
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		transform: scaleX(-1);
		margin-left: 5px;
	}

	&_inner {
		overflow-x: hidden;
		transform: scaleX(-1);
		padding-top: 18px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 20px;
	}

	&_scroll::-webkit-scrollbar {
		width: 4px;
		background-color: transparent;
		border-radius: 5px;
	}

	&_scroll::-webkit-scrollbar-thumb {
		background: #94a3b8;
		border-radius: 3px;
	}

	.title {
		margin-bottom: 16px;
		color: #334155;
		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
	}

	&_active {
		width: 230px;
		opacity: 1;
		pointer-events: all;
		padding-left: 0px;
	}
}

.content {
	transition: opacity 0.3s ease;
	opacity: 0;
	pointer-events: none;

	&_active {
		opacity: 0.99;
		pointer-events: all;

		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}

.box_weika {
	transition: box-shadow 0.5s ease;
	padding: 12px 16px;
	border-radius: 8px;
	border: 0.5px solid #cbd5e1;
	box-shadow: 0px 5px 20px 0px rgba(53, 53, 53, 0.08);

	display: flex;
	flex-direction: column;
	gap: 8px;

	&_title {
		margin-top: 16px;
		color: #0f172a;

		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
	}

	.rating {
		display: flex;
		align-items: center;

		&_number {
			margin-right: 4px;
			color: #475569;

			font-family: Lato;
			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: 18px;
		}

		&_star {
			margin-right: 8px;
		}

		&_title {
			color: #475569;

			font-family: Lato;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;
		}
	}

	.unverified {
		color: #de7a05;

		font-family: Lato;
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: 18px;
	}
}

.box_weika:hover {
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.18);
}
