.wrapper {
	margin-top: 12px;
	border-radius: 8px;
	border: 1px solid #cbd5e1;
	background: #fff;
	box-shadow: 0px -4px 24px 0px rgba(42, 50, 54, 0.06);
}

.title {
	width: 100%;
	padding: 12px 16px;
	border-bottom: 1px solid #e2e8f0;
	.text {
		color: #0f172a;

		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
	}
}

.content {
	max-height: 180px;
	overflow-y: scroll;
}

.select {
	border-top: 1px solid #e2e8f0;
	display: flex;
	padding: 12px 16px;
	align-items: flex-start;
	justify-content: space-between;
	gap: 8px;

	&_btn {
		background-color: transparent;
		border: none;
		outline: none;
		color: #4259ed;

		font-family: Lato;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;

		&_clear {
			opacity: 0;
			transition: opacity 0.3s ease;
			pointer-events: none;
			background-color: transparent;
			cursor: pointer;
			border: none;
			outline: none;

			color: #f52419;

			font-family: Lato;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px;

			&_active {
				pointer-events: all;
				opacity: 1;
			}
		}
	}
}

.content {
	overflow-y: scroll;
}
.content::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
	border-radius: 5px;
	// height: 200px;
}

.content::-webkit-scrollbar-thumb {
	background: #94a3b8;
	border-radius: 5px;
}

// .content {
// 	&::-webkit-scrollbar {
// 		width: 4px;
// 		height: 4px;
// 		background-color: #ffffff;
// 	}
// }

// .content::-webkit-scrollbar-track {
// 	background-color: violet; /* Color of the scrollbar track (background behind thumb) */
// }
