.wrapper {
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.item {
	display: flex;
	gap: 8px;
	align-items: center;

	&_wrapper {
		display: flex;
		gap: 8px;
		align-items: center;
		padding: 8px 0px;
	}

	&_img {
		cursor: pointer;
	}

	&_title {
		transition: color 1s ease;
		cursor: pointer;
		color: #fff;

		font-family: Lato;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;

		&_inactive {
			cursor: pointer;
			color: #cbd5e1;

			font-family: Lato;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px;
		}
	}
}

.inner {
	transition: max-height 0.5s ease, opacity 0.5s ease;
	margin-left: 40px;
	opacity: 0;
	pointer-events: none;
	max-height: 0px;
	overflow: hidden;

	&_active {
		opacity: 1;
		max-height: 1000px;
		pointer-events: all;
	}

	&_item {
		transition: color 1s ease;
		display: flex;
		gap: 8px;
		align-items: center;
		padding: 8px 0px;
		cursor: pointer;
		color: #cbd5e1;

		font-family: Lato;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;

		&_active {
			color: #fff;

			font-family: Lato;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px;
		}
	}
}
