.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_image {
  width: 64px;
  height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #F1F5F9;
  border: none;
  border-radius: 8px;

  cursor: pointer;
}