.info {
	display: flex;
	gap: 20px;

	&_code {
		color: #0d0d0e;

		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
	}

	&_status {
		border-radius: 4px;
		padding: 2px 8px;
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: 18px;

		&_issued {
			border: 1px solid #cbd5e1;
			color: #64748b;
		}

		&_pending {
			background: #f52419;
			color: #fff;
		}

		&_inproduction {
			background: #f0f2fe;
			color: #2b1694;
		}

		&_preshipment {
			background: #edf1f6;
			color: #64748b;
		}

		&_intransit {
			background: #fff5e8;
			color: #de7a05;
		}

		&_delivered {
			background: #ebf8f6;
			color: #0ba98a;
		}
	}
}
