.wrapper {
	padding: 16px 20px;
	border-radius: 12px;
	background: #fff;
	min-width: 440px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.back {
		cursor: pointer;
		display: flex;
		gap: 4px;
		align-items: center;

		&_text {
			cursor: pointer;
			color: #4259ed;

			font-family: Lato;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
		}
	}

	&_close {
		cursor: pointer;
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.sheet {
		display: flex;
		justify-content: center;
	}

	.title {
		margin-top: 24px;
		color: #0f172a;
		text-align: center;

		font-family: Lato;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px;
	}

	.subtitle {
		margin-top: 8px;
		max-width: 312px;
		color: #64748b;
		text-align: center;

		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;

		.email {
			color: #4259ed;
		}
	}

	.btn {
		border-radius: 8px;
		border: 1px solid #4259ed;
		background: transparent;
		display: flex;
		padding: 10px 20px;
		justify-content: center;
		align-items: center;
		gap: 8px;
		width: 100%;
		max-width: 312px;
		margin-bottom: 16px;
		margin-top: 24px;

		color: #4259ed;

		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
	}

	.help {
		color: #64748b;

		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;

		.contact {
			display: inline-block;
			color: #4259ed;
			font-weight: 700;
			margin-left: 8px;
			cursor: pointer;
		}
	}
}
