.data {
	&_wrapper {
		opacity: 0;

		max-width: 0px;
		max-height: 0px;
		pointer-events: none;

		color: #64748b;

		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
	}

	&_active {
		max-width: 100px;
		max-height: 100px;
		opacity: 1;
		pointer-events: all;
	}
}

.wrapper {
	width: 100%;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 4px 6px 12px 0px rgba(184, 191, 198, 0.16);
	border: 1px solid #e7e9ef;

	transition: all 0.3s ease;
	opacity: 0;
	pointer-events: none;
	height: 0;

	&_active {
		margin-top: 16px;
		padding: 20px 24px;
		opacity: 1;
		pointer-events: all;
		height: auto;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.title {
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 20px;

		&_active {
			color: #755cf1;
		}
	}

	.rate {
		display: flex;
		gap: 16px;

		&_star {
			cursor: pointer;
		}

		&_feedback {
			transition: border 0.3s ease;
			padding: 13px 16px;
			height: 120px;
			resize: none;
			outline: none;
			border-radius: 8px;
			box-shadow: 4px 6px 12px 0px rgba(184, 191, 198, 0.16);
			border: 1px solid #e7e9ef;
		}

		&_feedback:focus {
			border: 1px solid #2b1694;
		}

		&_feedback::placeholder {
			color: #b3bec3;

			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
		}

		&_btn {
			margin-left: auto;
			border: none;
			padding: 8px 20px;
			border-radius: 4px;
			background: #000a82;
			max-width: 145px;

			color: #fff;

			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px;
		}
	}
}

.feedback {
	&_done {
		padding: 16px 0px;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&_item {
		display: flex;
		flex-direction: column;
		gap: 16px;
		border-radius: 8px;
		border: 1px solid #e7e9ef;
		background: #fff;
		padding: 20px 24px;
		box-shadow: 4px 6px 12px 0px rgba(184, 191, 198, 0.16);
	}

	&_my {
		background-color: #594d98;
	}

	&_rate {
		display: flex;
		gap: 16px;
	}

	&_message {
		color: #64748b;

		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;

		&_my {
			color: #fff;
		}
	}
}
