.table {
	tr > th {
		padding: 0;

		> div {
			padding: 8px 16px;
			background-color: #F8FAFC;
			border-radius: 8px 8px 0 0;
		}
	}

	tr > td:first-child {
		padding: 0;
		width: 240px;

		> div {
			padding: 32px 16px;
			height: 100%;

			display: flex;
			align-items: center;

			background-color: #F8FAFC;
		}
	}

	tr:last-child > td:first-child > div {
		border-radius: 0 0 0 8px;
	}
}

.filelist {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}
