.image_upload {
	width: 48px;
	height: 48px;

	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px dotted #94A3B8;
	border-radius: 8px;
	background-color: #F8FAFC;

	cursor: pointer;
}