.wrapper {
	transition: width 0.4s ease;
	background-color: #465569;
	padding: 24px 16px;
	height: calc(100vh - 60px);
	position: fixed;
	width: 0px;
	opacity: auto;
	

	.title {
		margin-bottom: 12px;
		color: #fff;

		font-family: Lato;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
	}

	&_active {
		width: 230px;
		opacity: 1;
		pointer-events: all;
	}
}

.content {
	transition: opacity 0.3s ease;
	opacity: 0;
	pointer-events: none;
	

	&_active {
		opacity: 1;
		pointer-events: all;
	}
}


