.wrapper {
  display: flex;
  flex-direction: column;
  width: 440px;
  border-radius: 12px;
  background: #fff;
  min-width: 440px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  background-color: var(--new-grey-50, #F8FAFC);
  border-radius: 12px 12px 0 0;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  gap: 4px;


  &_row {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
  }

  &_title {
    color: var(--new-grey-900, #0F172A);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  &_description {
    color: var(--new-grey-600, #475569);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .back {
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;

    &_text {
      cursor: pointer;
      color: #4259ed;

      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }
  }

  &_close {
    cursor: pointer;
    margin: 5px;
  }
}

.separator {
  align-self: stretch;
  height: 1px;
  background-color: #E2E8F0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;


  &_dropdown {
    &_group {
      display: flex;
      padding: 20px 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
    }

    &_wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
    }
  }

  &_group {
    display: flex;
    padding: 20px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    max-height:46vh;
    overflow-y: auto;
  }

  &_input {
    outline: none;
    border: none;
    width: 100%;

    background: transparent;
    color: var(--new-grey-900, #0F172A);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    &_group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      gap: 16px;
    }
  }

  &_input::placeholder {
    color: #94a3b8;
  }


  &_title {
    color: #020617;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;

    &_group {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}


@mixin labelStyle {
  transition: border 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--new-grey-300, #CBD5E1);
  background: var(--new-colors-white, #FFF);
}

.label {
  @include labelStyle;

  &_switch {
    @include labelStyle;
    width: auto;
    cursor: pointer;

    .input {
      outline: none;
      border: none;
      width: 100%;

      color: #0f172a;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }

  &:focus-within {
    border-color: #4259ed;
  }
}

.banner {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid rgba(66, 89, 237, 0.10);
  background: #F0F2FE;

  &_text {
    color: #020617;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }
}

.dropdown {
  &_wrapper {
    display: flex;
    position: relative;
    width: 100%;
  }

  &_label {
    @include labelStyle;
    display: flex;
    padding: 8px 12px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    flex: 1 0 0;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
      border: 1px solid var(--primary-color-purple, #4259ed);
    }

    &:disabled {
      color: var(--new-grey-400, #94A3B8);
    }

    &_option {
      color: var(--new-grey-900, #0F172A);
    }

    &_placeholder {
      color: var(--new-grey-400, #94A3B8);
    }
  }

  &_arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: none;
  }
}


.bottom {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 0 0 12px 12px;
  background: var(--new-grey-0, #FFF);
  box-shadow: 0px -4px 24px 0px rgba(42, 50, 54, 0.06);

  &_group {
    display: flex;
    padding: 0 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    align-self: stretch;
  }

  &_button {
    &_cancel {
      background: var(--new-grey-0, #FFF);
      color: var(--new-grey-900, #0F172A);

      border: none;
      border-radius: 8px;
      display: flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      gap: 6px;


      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
    }

    &_send {
      background: var(--new-grey-200, #E2E8F0);
      color: var(--new-grey-400, #94A3B8);

      border-radius: 8px;
      display: flex;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 6px;
      border: none;

      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;

      &:disabled {
        opacity: 100%;
      }

      &_active {
        color: var(--new-colors-white, #FFF);
        background: #2B1694;

        &:disabled {
          opacity:25%;
        }
      }
    }
  }
}

.errorDescription {
  margin-top: -8px;
  color: var(--new-grey-500, #f52419);
  font-variant-numeric: lining-nums proportional-nums;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.radio {
  &_title {
    color: #020617;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    padding: 6px 0;
  }
  &_row {
    display: flex;
    //align-items:center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

  }

  &_group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: var(--greyscale-black, #0D0D0E);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    gap: 4px;

    &_wrapper {
      display: flex;
      width: 50%;
      padding-left: 20px;
    }
  }

  &_element {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
  }
  &_element:hover {
    cursor: pointer;
  }

  &_btn {
    accent-color: var(--primary-color-purple, #2B1694);
    fill: var(--new-grey-0, #FFF);
    stroke-width: 1px;
    stroke: var(--primary-color-purple, #2B1694);

    width: 16px;
    height: 16px;
    border-radius: 10px;
  }

  &_btn:not(:checked) {
    appearance: none;
    border: 1px solid var(--new-grey-300, #CBD5E1);
    border-radius: 10px;
    background: var(--new-grey-0, #FFF);
  }

  &_text {
    color: var(--new-grey-900, #0F172A);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
