.wrapper {
	background-color: #f8fafc;
	min-width: 600px;
	border-radius: 8px;

	.header {
		display: flex;
		justify-content: space-between;
		padding: 20px 24px;
		&_title {
			color: #0f172a;
			font-variant-numeric: lining-nums proportional-nums;

			font-size: 18px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
		}
	}
}
