.wrapper {
	width: 100%;
	padding: 0px 12px;

	.title {
		color: #1e293b;
		font-variant-numeric: lining-nums proportional-nums;

		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 20px;
	}

	.info {
		width: 100%;
		margin-top: 10px;
		display: flex;
		gap: 20px;

		&_img {
			border-radius: 4px;
		}

		&_table {
			width: 100%;
			border-collapse: collapse;

			color: #1e293b;
			font-variant-numeric: lining-nums proportional-nums;

			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;

			&_row {
				td {
					width: 50%;
					border: 1px solid #cbd5e1;
					padding: 10px;
				}
			}

			&_key {
				background-color: #f8fafc;
			}

			&_value {
				background-color: #ffffff;
			}
		}
	}

	.imgs {
		margin-top: 20px;
		display: flex;
		gap: 10px;

		&_img {
			border-radius: 8px;
			cursor: pointer;
		}
	}

	.files {
		overflow: hidden;
		margin-top: 20px;
		border: 1px solid #cbd5e1;
		border-radius: 8px;

		&_header {
			padding: 8px 16px;
			background-color: #f8fafc;
			border-bottom: 1px solid #cbd5e1;

			color: #0f172a;
			font-variant-numeric: lining-nums proportional-nums;

			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: 18px;
		}

		&_content {
			padding: 12px 20px;
			display: flex;
			flex-direction: column;
			gap: 5px;

			&_file {
				display: flex;
				gap: 4px;
				align-items: center;
				cursor: pointer;
			}

			&_name {
				color: #755cf1;
				font-variant-numeric: lining-nums proportional-nums;

				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;
			}

			&_size {
				color: #94a3b8;
				font-variant-numeric: lining-nums proportional-nums;

				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;
			}
		}
	}

	.comments {
		overflow: hidden;
		margin-top: 20px;
		border: 1px solid #cbd5e1;
		border-radius: 8px;

		&_header {
			padding: 8px 16px;
			background-color: #f8fafc;
			border-bottom: 1px solid #cbd5e1;

			color: #0f172a;
			font-variant-numeric: lining-nums proportional-nums;

			font-size: 12px;
			font-style: normal;
			font-weight: 700;
			line-height: 18px;
		}

		&_content {
			display: block;
			padding: 12px 20px;
			min-height: 80px;
		}
	}
}
