.wrapper {
	width: 100%;
	.header {
		padding: 15px 35px;
		border-bottom: 1px solid #edf1f6;

		.back {
			max-width: 60px;
			cursor: pointer;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 4px;

			color: #2b1694;

			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px;
		}
	}

	.content {
		padding: 10px 35px;
	}
}
