.wrapper {
	padding-top: 16px;
	padding-left: 36px;
	padding-right: 36px;
	padding-bottom: 48px;
	border-radius: 12px;
	background: #fff;
	min-width: 480px;
}
.modal_header {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 32px;
	.logo {
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.close {
		cursor: pointer;
	}
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.title {
		color: #0f172a;
		text-align: center;
		font-family: Lato;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px;
		margin-bottom: 8px;
	}

	.subtitle {
		color: #64748b;
		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;

		.signup {
			color: #4259ed;
			font-family: Lato;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
			cursor: pointer;
			margin-left: 8px;
		}
	}
}

.incorrect {
	display: flex;
	gap: 12px;
	padding: 12px;
	justify-content: center;
	background-color: #fdeae8;
	border-radius: 8px;
	margin-top: 24px;
	border: 1px solid #fdd6d3;
	max-height: 0px;
	opacity: 0;
	transition: height 0.4s ease, opacity 0.3s ease;
	position: absolute;
	pointer-events: none;

	&_active {
		position: relative;
		opacity: 1;
		max-height: 100px;
		transition-delay: 0s;
		pointer-events: all;
	}

	&_text {
		color: #020617;

		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
	}
}

.form {
	margin-top: 24px;

	&_incorrect {
		margin-top: 16px;
	}

	.email {
		position: relative;
		&_text {
			color: #0f172a;
			font-family: Lato;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: 20px;
			margin-bottom: 8px;
		}

		&_input {
			color: #0f172a;
			font-family: Lato;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
			border: none;
			background-color: transparent;
			box-shadow: none;
			position: absolute;
			outline: none;
			left: 38px;
			top: 0;
			bottom: 0;
			overflow: hidden;
			width: 80%;
		}

		&_label {
			transition: border 0.3s ease;
			display: flex;
			justify-content: space-between;
			position: relative;
			z-index: 2;
			border-radius: 8px;
			min-height: 42px;
			border: 1px solid #cbd5e1;
			padding: 10px 12px;
			align-items: center;
			gap: 8px;
			align-self: stretch;

			&_image {
				cursor: pointer;
			}
		}
	}

	.password {
		margin-top: 12px;
		&_text {
			color: #0f172a;
			font-family: Lato;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: 20px;
			margin-bottom: 8px;
		}

		&_input {
			color: #0f172a;
			font-family: Lato;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
			border: none;
			background-color: transparent;
			box-shadow: none;
			position: absolute;
			outline: none;
			left: 38px;
			top: 0;
			bottom: 0;
			overflow: hidden;
			width: 80%;
		}

		&_label {
			transition: border 0.3s ease;
			display: flex;
			justify-content: space-between;
			position: relative;
			border-radius: 8px;
			min-width: 99%;
			min-height: 42px;
			border: 1px solid #cbd5e1;
			display: flex;
			padding: 10px 12px;
			align-items: center;
			gap: 8px;
			align-self: stretch;
		}
	}

	.label_eye {
		cursor: pointer;
		margin-left: auto;
	}

	.forgot {
		display: inline-block;
		margin-top: 8px;
		color: #4259ed;
		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
		cursor: pointer;
	}

	.submit {
		color: #fff;
		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;

		margin-top: 24px;
		display: flex;
		padding: 10px 20px;
		justify-content: center;
		align-items: center;
		width: 100%;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		transition: background-color 0.3s ease, color 0.3s ease;

		&_valid {
			background: #4259ed;
			color: #fff;
		}
	}

	.label_invalid {
		border: solid 1px #f52419;
	}

	.invalid {
		margin-top: 8px;
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 4px;
		color: #f52419;

		font-family: Lato;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		height: 0px;
		opacity: 0;
		transition: height 0.3s ease, opacity 0.3s ease;
		visibility: hidden;

		&_active {
			visibility: visible;
			height: 10px;
			opacity: 1;
		}

		&_password {
			color: #020617;
		}
	}
}
