.label {
	&_search {
		padding: 8px 12px;
		display: flex;
		align-items: center;
		gap: 8px;
		border-radius: 8px;
		background: #64748b;
	}

	&_input {
		outline: none;
		border: none;
		background-color: transparent;

		color: #fff;
		font-variant-numeric: lining-nums proportional-nums;
		font-family: Lato;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
	}

	&_input::placeholder {
		color: #cbd5e1;

		font-family: Lato;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
	}
}
