.wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 18px;
	flex-shrink: 0;

	position: absolute;
	right: 0;

	min-height: calc(100vh - 60px); //-header
	height: calc(100vh - 60px); //-header
	max-height: calc(100vh - 60px); //-header;
	width: 300px;
	transform: translateX(300px);

	padding: 16px;
	border-left: 1px solid #eee;

	background: #f8fafc;
	transition: all 0.5s ease;

	&_active {
		position: fixed;
		transform: translateX(0);
		transition: all 0.275s ease-in-out;
	}
}

.background {
	position: static;
	min-width: 300px;
	padding: 16px;

	min-height: calc(100vh - 60px); //-header
	height: calc(100vh - 60px); //-header
	max-height: calc(100vh - 60px); //-header;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	flex: 1 0 0;
	align-self: stretch;

	border-radius: 8px;
}
