.wrapper {
	display: flex;

	.buttons {
		margin-right: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		max-width: 127px;

		.head {
			min-width: 125px;
			color: #64748b;
			font-variant-numeric: lining-nums proportional-nums;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;
		}

		.btn {
			padding: 10px 12px;
			border-radius: 4px;
			border: 1px solid #2b1694;
			background: #fff;

			color: #2b1694;
			font-variant-numeric: lining-nums proportional-nums;

			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
		}
	}

	.table {
		width: 100%;
		border-spacing: 0px 10px;
		margin-top: -12.5px; // -border-spacing: 0px 10px;

		.thead {
			width: 100%;

			.th {
				padding-left: 12px;
				text-align: left;

				color: #64748b;
				font-variant-numeric: lining-nums proportional-nums;

				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;
			}
		}

		.tbody {
			border-collapse: separate;
			border-spacing: 10 10px;

			.tr {
				background-color: #fff;
				border-radius: 4px;
			}

			.th {
				padding: 10px 16px;
				text-align: left;

				//default
				color: #0f172a;
				font-variant-numeric: lining-nums proportional-nums;

				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px;

				.size:not(:first-child):not(:last-child) {
					margin: 0px 12px;
				}

				.unit {
					margin-left: 12px;
					color: #64748b;
					font-variant-numeric: lining-nums proportional-nums;

					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 18px;
				}
			}

			.th:first-child {
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}

			.th:last-child {
				display: flex;
				gap: 12px;
				border-bottom-left-radius: 4px;
				border-top-right-radius: 4px;
			}
		}
	}
}
