.table {
	border-collapse: collapse;
	width: 100%;
	border-right: 1px solid #e2e8f0;
	border-bottom: 1px solid #e2e8f0;
	.thead {
		border-top: 1px solid #e2e8f0;
		border-bottom: 1px solid #e2e8f0;

		color: #64748b;
		font-variant-numeric: lining-nums proportional-nums;

		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;

		td,
		th {
			vertical-align: middle;
			padding: 8px;
			text-align: center;
		}
	}

	.tbody {
		color: #020617;
		font-variant-numeric: lining-nums proportional-nums;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;

		tr {
			cursor: pointer;
			height: 55px;
		}
		tr:first-child {
			padding-left: 10px;
		}

		td {
			border-top: 1px solid #e2e8f0;
		}

		td,
		th {
			vertical-align: middle;
			padding: 8px;
			text-align: center;

			input {
				transition: 0.1s border ease;
				border: none;
				outline: none;
				max-width: 70px;
				text-align: center;
			}

			input:focus {
				border: 1px solid #755cf1;
			}
		}

		.description {
			margin-top: -18px;

			.title {
				overflow: hidden;
				color: #020617;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 18px;
			}

			.title:hover {
				color: #755cf1;
				text-decoration: underline;
			}

			.subtitle {
				// display: inline-block;
				// width: 100%;
				// text-align: left;
				color: #94a3b8;
				font-size: 10px;
				font-style: normal;
				font-weight: 400;
				line-height: 10px;
			}
		}

		.chat {
			display: block;
			max-width: 20px;
			position: relative;
			cursor: pointer;

			&_wrapper {
				display: flex;
				justify-content: center;
			}

			&_sms {
				margin-left: auto;
				margin-right: auto;
				top: 0;
				right: -5px;
				position: absolute;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: #cbd5e1;
				display: flex;
				align-items: center;
				justify-content: center;

				&_active {
					background-color: #f5241a;
				}
			}

			&_number {
				color: #fff;
				font-size: 8px;
				font-style: normal;
				font-weight: 700;
				line-height: 8px;
			}
		}
		// .size {
		// }

		.status {
			padding: 3px 8px;
			border-radius: 4px;

			text-align: center;
			font-variant-numeric: lining-nums proportional-nums;
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			line-height: 18px;

			&_compress {
				display: block;
				min-width: 90px;
			}

			&_requested {
				background: #edf1f6;
				color: #64748b;
			}

			&_selectionNeeded {
				background: #feeae8;
				color: red;
			}

			&_ordered {
				background: #ebf8f6;
				color: #0ba98a;
			}
		}
	}
}
