.table {
  border: none;

  tr:not(:last-child) td {
    border-bottom: 1px solid #E7E9EF !important;
  }

  &_inside {
    tr {
      th:nth-child(1) {
        width: 100%;
      }
      th:nth-child(2) {
        min-width: 183px;
      }
      th:nth-child(3) {
        width: 40px;
        min-width: 40px;
      }
    }
  }

  &_separete {
    th:last-child, td:last-child  {
      border-right: 1px solid #E7E9EF;
    }

    tr:last-child td {
      border-bottom: 1px solid #E7E9EF;
    }

    tr {
      th:nth-child(3) {
        width: 49px;
        min-width: 49px;
      }
    }
  }

  input {
    padding: 4px 8px;

    border: 1px solid #CBD5E1;
    border-radius: 4px;
    &:focus {
      border: 1px solid #755CF1;
      outline: none;
    }
    &::placeholder {
      color: #CBD5E1;
    }
  }
}

.reset_th_row {
  > th {
    background-color: #ffffff !important;
    font-weight: 400 !important;
  }
}

.price_row {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;

  > span {
    color: #64748B;
    font-size: 12px;
  }
}

.earnings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &_label {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #94A3B8;
  }

  &_input {
    width: 150px;
  }
}

.add_btn {
  background-color: transparent;
  color: #755CF1;
}