.table {
  border: none;

  tr:not(:last-child) td {
    border-bottom: 1px solid #E7E9EF !important;
  }

  &_inside {
    tr {
      th:nth-child(1) {
        width: 100%;
      }
      th:nth-child(2) {
        min-width: 183px;
      }
    }
  }

  &_separete {
    th:last-child, td:last-child  {
      border-right: 1px solid #E7E9EF;
    }

    tr:last-child td {
      border-bottom: 1px solid #E7E9EF;
    }
  }
}

.reset_th_row {
  > th {
    background-color: #ffffff !important;
    font-weight: 400 !important;
  }
}

.price_row {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  overflow: hidden;

  > span {
    color: #64748B;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.earnings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &_label {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #94A3B8;
  }
}

.add_btn {
  background-color: transparent;
  color: #755CF1;
}

.delete_btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);

  opacity: 0;
  transition: opacity 0.3s ease;

  cursor: pointer;

  &_show {
    opacity: 1;
  }
}

.currency {
  position: relative;

  &::before {
    position: absolute;
    content: "$";
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: #CBD5E1;
  }

  &_value {
    &::before {
      color: #334155;
    }
  }

  > input {
    padding-left: 15px;
  }
}
