.content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 24px;
  padding: 32px 24px 0 24px;
}

.form {
  width: 100%;
}

;
.heading {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}

@mixin settingsStyles {
  display: flex;
  width: 100%;
  padding: 16px;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  border-radius: 8px;
  border: 1px solid var(--new-grey-300, #CBD5E1);
  background: var(--new-grey-50, #F8FAFC);
}

.settings {
  @include settingsStyles;

  &_bankLocation {
    @include settingsStyles;
    margin-bottom: 24px;
  }
}


.title {
  color: var(--new-grey-700, #334155);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;

  &_main {
    color: var(--new-grey-900, #0F172A);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  &_general {
    color: var(--new-grey-800, #1E293B);

    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 20px;
  }
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


@mixin labelStyle {
  transition: border 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background: #fff;
}


.label {
  @include labelStyle;
  width: calc(50% - 20px);

  &_switch {
    @include labelStyle;
    width: auto;
    cursor: pointer;

    .input {
      outline: none;
      border: none;
      width: 100%;

      color: #0f172a;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

  }


  &:focus-within {
    border-color: #4259ed;
  }

  .input {
    outline: none;
    border: none;
    width: 100%;

    color: #0f172a;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .input::placeholder {
    color: #94a3b8;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .input[type="password"] {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background: transparent;
  }

  .input_switch {
  }

  .image {
    height: 20px;
    width: 20px;

    &_edit {
      cursor: pointer;
    }
  }
}

.label_switch_active {
  border: 1px solid var(--primary-color-purple, #2B1694);
  background: var(--primary-color-light-blue-2, #F0F2FE);
}

.buttons_switch {
  display: flex;
  width: calc(50% - 20px);
  align-items: center;
  gap: 12px;
}

.errorDescription {
  width: calc(50% - 20px);
  color: var(--new-grey-500, #64748B);
  font-variant-numeric: lining-nums proportional-nums;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.btn_send {
  background: var(--new-grey-200, #E2E8F0);
  color: var(--new-grey-400, #94A3B8);

  border-radius: 8px;
  display: flex;
  height: 36px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border: none;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  &_active {
    color: var(--new-colors-white, #FFF);
    background: #2B1694;
  }

  &_reset {
    color: var(--new-colors-white, #FFF);
    background: #d70000;
  }
}

.to_right {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}

.radio {
  &_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

  }

  &_group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: var(--greyscale-black, #0D0D0E);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    gap: 4px;

    &_wrapper {
      display: flex;
      width: 50%;
      padding-left: 20px;
    }
  }

  &_element {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
  }

  &_btn {
    accent-color: var(--primary-color-purple, #2B1694);
    fill: var(--new-grey-0, #FFF);
    stroke-width: 1px;
    stroke: var(--primary-color-purple, #2B1694);

    width: 16px;
    height: 16px;
    border-radius: 10px;
  }

  &_btn:not(:checked) {
    appearance: none;
    border: 1px solid var(--new-grey-300, #CBD5E1);
    border-radius: 10px;
    background: var(--new-grey-0, #FFF);
  }

  &_text {
    color: var(--new-grey-900, #0F172A);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}

.separator {
  align-self: stretch;
  height: 1px;
  background-color: #E2E8F0;
}

.select {
  max-height: 100px;
  overflow-y: scroll;
}

.dropdown {
  &_wrapper {
    display: flex;
    position: relative;
    width: calc(50% - 20px);
  }

  &_label {
    @include labelStyle;
    display: flex;
    padding: 8px 12px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    flex: 1 0 0;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    &:focus {
      outline: none;
      border: 1px solid var(--primary-color-purple, #4259ed);
    }
  }

  &_arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: none;
  }
}

