.wrapper {
  display: flex;
  flex-direction: column;
  width: 440px;
  border-radius: 12px;
  background: #fff;
  min-width: 440px;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  background-color: var(--new-grey-50, #F8FAFC);
  border-radius: 12px 12px 0px 0px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  gap: 4px;


  &_row {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
  }

  &_title {
    color: var(--new-grey-900, #0F172A);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  &_description {
    color: var(--new-grey-600, #475569);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .back {
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;

    &_text {
      cursor: pointer;
      color: #4259ed;

      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }
  }

  &_close {
    cursor: pointer;
    margin: 5px;
  }
}

.separator {
  align-self: stretch;
  height: 1px;
  background-color: #E2E8F0;
}

.content {
  display: flex;
  padding: 20px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  &_input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  &_title {
    color: var(--new-grey-950, #020617);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
}



@mixin labelStyle {
  transition: border 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  // todo 8px for old password
  padding: 10px 12px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--new-grey-300, #CBD5E1);
  background: var(--new-colors-white, #FFF);
}

.label {
  @include labelStyle;


  &_switch {
    @include labelStyle;
    width: auto;
    cursor: pointer;

    .input {
      outline: none;
      border: none;
      width: 100%;

      color: #0f172a;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }

  }


  &:focus-within {
    border-color: #4259ed;
  }

  .input {
    outline: none;
    border: none;
    width: 100%;

    background: transparent;
    //color: var(--new-grey-900, #0F172A);
    color: var(--new-grey-400, #94A3B8);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .input::placeholder {
    color: #94a3b8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .input[type="password"] {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background: transparent;
  }
}

.padding_eight {
  padding: 8px 12px;
}

.image {
    height: 20px;
    width: 20px;
}

.bottom {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 0px 0px 12px 12px;
  background: var(--new-grey-0, #FFF);
  box-shadow: 0px -4px 24px 0px rgba(42, 50, 54, 0.06);

  &_group {
    display: flex;
    padding: 0px 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    align-self: stretch;
  }

  &_button {
    &_cancel {
      background: var(--new-grey-0, #FFF);
      color: var(--new-grey-900, #0F172A);

      border: none;
      border-radius: 8px;
      display: flex;
      padding: 10px 20px;
      justify-content: center;
      align-items: center;
      gap: 6px;


      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
    }

    &_send {
      background: var(--new-grey-200, #E2E8F0);
      color: var(--new-grey-400, #94A3B8);

      border-radius: 8px;
      display: flex;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 6px;
      border: none;

      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;

      &_active {
        // TODO fix button error style
        color: var(--new-colors-white, #FFF);
        background: #2B1694;
      }
    }
  }
}