.wrapper {
  margin-top: 45px;
}

.table_wrapper {
  margin-bottom: 24px;
  overflow-x: auto;
}

.table {
  th, td {
    padding: 12px;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #334155;
    text-align: left;
  }

  th {
    padding: 6px 12px;
  }
}

.price_tier_header {
  display: flex;
}

.action_link {
  color: #755CF1;
  border: none;
  text-decoration: none;
}