@import 'reset';
@import 'fonts';

.header_container {
	padding: 10px 25px;
	background-color: #0f172a;
}

.content_container {
	padding: 32px;
}

.wrp {
	display: flex;
	// max-width: 100%;
	// flex-direction: column;
}
