@import 'reset';
@import 'fonts';

.header_container {
	padding: 10px 25px;
	background-color: #0f172a;
	position: fixed;
	width: 100%;
	z-index: 100;
	min-height: 60px;
}

.content_container {
	transition: all 0.3s ease;
	padding-right: 32px;
	padding-bottom: 32px;
	padding-top: 32px;
	padding-left: 72px;

	&_sidebar {
		padding-left: 262px;
	}
}

.wrp {
	display: flex;
}

.main {
	margin-top: 60px; //-header
}
