@import 'reset';
@import 'fonts';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.header_container {
	padding: 10px 25px;
	background-color: #0f172a;
	position: fixed;
	width: 100%;
	z-index: 100;
	min-height: 60px;
}

.content_container {
	transition: all 0.3s ease;
	padding-right: 32px;
	padding-top: 32px;
	padding-left: 72px;

	&_sidebar {
		padding-left: 262px;
	}
}

.wrp {
	display: flex;
}

.main {
	margin-top: 60px; //-header
}
