html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

// RESET STYLES
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
ul[class],
ol[class] {
	padding: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0px 1000px #f2f2f0 inset !important;
}
html {
	box-sizing: border-box;
}
body {
	position: relative;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	box-sizing: border-box;
	margin: 0px;
	padding: 0;
	margin: 0;
	min-height: 100vh;
}

main {
	display: block;
}

a[class] {
	background-color: transparent;
	text-decoration: none;
	cursor: pointer;
}
button[class] {
	cursor: pointer;
	outline: none;
}

button:disabled {
	opacity: 0.2;
}

input,
button,
textarea,
select {
	font: inherit;
}

img {
	background-color: transparent;
	display: block;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul li {
	list-style: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button {
	outline: none;
	border: none;
}
