.wrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px 24px;
	background: #fff;
	width: 500px;

	border-left: 1px solid #e2e8f0;
	box-shadow: 0px 5px 20px 0px rgba(53, 53, 53, 0.08);
}

.nav {
	padding: 4px 1px;
	border-bottom: 1px solid #e2e8f0;

	&_item {
		cursor: pointer;
		padding: 6px 18px;
		position: relative;
		min-width: 300px;
		font-size: 14px;

		&:not(:last-child)::after {
			content: '';
			position: absolute;
			top: 60%;
			right: 0;
			transform: translateY(-50%);
			height: 50%;
			width: 1px;
			background-color: #cbd5e1;
		}
	}

	&_active {
		min-width: 300px;
		color: #0f172a;
		font-style: normal;
		font-weight: 900;
		line-height: 20px;
		border-bottom: solid 2px #2b1694;
	}
}
