.wrapper {
	padding: 8px 16px;
	display: flex;
	gap: 8px;
	min-width: 280px;
}

.text {
	color: #334155;

	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
}
