.wrapper {
	margin-top: 24px;
	margin-bottom: 24px;

	.results {
		margin-bottom: 24px;
		color: #0f172a;

		font-family: Lato;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 26px;

		&_text {
			color: #475569;

			font-family: Lato;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
		}
	}
}

.products {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-content: center;

	@media (max-width: 1300px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 1010px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 700px) {
		grid-template-columns: repeat(1, 1fr);
	}

	&_item {
		display: flex;
		justify-content: center;
	}

	&_sidebar{

		grid-template-columns: repeat(4, 1fr);
		
		@media (max-width: 1450px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: 1180px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 880px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}