.wrapper {
	margin-top: 24px;
	margin-bottom: 24px;
	position: relative;
	min-height: 400px;
	@media (max-width: 1100px) {
		min-height: 345px;
	}
	@media (max-width: 712px) {
		max-height: 100%;
	}

	.sort {
		cursor: pointer;
		display: flex;
		gap: 4px;
		align-items: center;

		.img {
			transition: transform 0.3s ease;
			&_open {
				transform: rotate(180deg);
			}
		}

		&_text {
			color: #475569;
			font-family: Lato;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
		}
		&_title {
			color: #0f172a;
			font-family: Lato;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 24px;
		}

		&_wrapper {
			position: absolute;
			z-index: 2;
			border: 1px solid #e7e9ef;
			border-radius: 5px;
			background-color: #fff;
			right: 0px;
			top: 24px;
		}

		&_list {
			cursor: pointer;
			display: flex;
			padding: 8px 12px;
			justify-content: space-between;
			min-width: 230px;

			&_item {
				display: flex;
			}

			.title {
				color: #0f172a;
				font-family: Lato;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
				margin-right: 5px;
			}

			.subtitle {
				color: #64748b;
				font-family: Lato;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 24px;
			}
		}
	}

	.results {
		&_wrapper {
			display: flex;
			align-items: start;
			justify-content: space-between;
		}

		margin-bottom: 24px;
		color: #0f172a;

		font-family: Lato;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 26px;

		&_text {
			color: #475569;

			font-family: Lato;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
		}
	}
}

.products {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-content: center;

	@media (max-width: 1300px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 1010px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 700px) {
		grid-template-columns: repeat(1, 1fr);
	}

	&_item {
		display: flex;
		justify-content: center;
	}

	&_sidebar {
		grid-template-columns: repeat(4, 1fr);

		@media (max-width: 1450px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: 1180px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 880px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
