.wrapper {
	padding-left: 35px;
	padding-right: 15px;
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-right: 1px solid #e2e8f0;

	.title {
		color: #64748b;
		font-variant-numeric: lining-nums proportional-nums;

		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: 18px;
	}

	.button {
		transition: all 0.3s ease;
		min-width: 127px;
		border-radius: 4px;
		border: 1px solid #2b1694;
		background: #fff;
		padding: 10px 12px;

		color: var(--primary-color-purple, #2b1694);
		font-variant-numeric: lining-nums proportional-nums;

		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;

		&_active {
			color: #fff;
			background-color: #2b1694;
		}
	}
}
