.wrapper {
	transition: width 0.4s ease;
	background-color: #465569;
	padding: 24px 24px;
	height: calc(100vh - 60px);
	position: fixed;
	width: 0px;
	height: 100%;

	&_scroll {
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		transform: scaleX(-1);
		margin-left: 5px;
	}

	&_inner {
		overflow-x: hidden;
		transform: scaleX(-1);
		padding-left: 15px;
	}

	&_scroll::-webkit-scrollbar {
		width: 4px;
		background-color: transparent;
		border-radius: 5px;
	}

	&_scroll::-webkit-scrollbar-thumb {
		background: #94a3b8;
		border-radius: 3px;
	}

	.title {
		margin-bottom: 12px;
		color: #fff;
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
	}

	&_active {
		width: 230px;
		opacity: 1;
		pointer-events: all;
		padding-left: 0px;
	}
}

.content {
	transition: opacity 0.3s ease;
	opacity: 0;
	pointer-events: none;

	&_active {
		opacity: 0.99;
		pointer-events: all;
	}
}
